.header {
  padding-block-start: var(--header-nav-height);
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--highlight-color) url('../images/3px-tile-50.png');
  background-blend-mode: overlay;
}




.header__avatar {
  height: calc(var(--header-height) - 9.5em);
}

.header__name {
  color: var(--primary-contrast-color);
  margin-block: 0;
  font-weight: 300;
}