.header {
  padding-block-start: var(--header-nav-height);
  display: flex;
  align-items: center;
  background: var(--highlight-color) url('../images/3px-tile-50.png');
  background-blend-mode: overlay;
  gap: 5px;

  .header__avatar {
    block-size: calc(var(--header-height) - 15em);
  }

  .header__name {
    color: var(--primary-contrast-color);
    margin-block: 0;
    font-weight: 300;
    font-size: 0.9em;
  }

  @media only screen and (width >=1024px) {
    & {
      block-size: var(--header-height);
      flex-direction: column;
      justify-content: center;
    }

    .header__avatar {
      block-size: calc(var(--header-height) - 9.5em);
    }

    .header__name {
      font-size: 1.5em;

    }
  }




}