.header-nav {
  background-color: var(--primary-color);
  color: var(--primary-contrast-color);
  block-size: var(--header-nav-height);
  padding-inline: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inline-size: 100%;
  padding-block-start: 1em;
  font-size: 0.8em;


  .header-nav__brand {
    font-family: Bungee, "Arial Black", Arial, sans-serif;
    font-size: 1.5em;
  }

  .header-nav__sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    .header-nav__down {
      transition: ease-out var(--transition-duration);
    }

    &:hover {
      text-shadow: 0 0 4px var(--highlight-color);

      .header-nav__down {
        transform: translateY(0.2em)
      }
    }
  }

  @media only screen and (width >=1024px) {
    & {
      padding-inline: 1.5em;
      font-size: 1.1em;
    }
  }
}

.scroll-top {
  display: none;
  position: fixed;

  inset-block-end: 20px;
  inset-inline-end: 5px;

  background-color: var(--highlight-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;

  align-items: center;
  justify-content: center;
  cursor: pointer;

  i {
    font-size: 0.7em;
    color: var(--primary-contrast-color);

    transition: ease-out var(--transition-duration);
  }

  &:hover {
    background-color: var(--primary-color);
  }

  &:hover i {
    color: var(--highlight-color);
  }
}

.icon {
  color: var(--highlight-color);
}