.header-nav {
  background-color: var(--primary-color);
  color: var(--primary-contrast-color);
  height: 120px;
  padding-inline: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__brand {
  font-family: Bungee, "Arial Black", Arial, sans-serif;
}

.header-nav__sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  color: var(--highlight-color);
}